<div class="container">
    <h3 class="text-warning">Detail Transaksi</h3>
    <hr>

    <form action="/transaksi/add" method="post">
        Pilih Member
        <select name="id_member" class="form-control mb-2">
            <option> >--Pilih Member--< </option>
                    <% dataMember.forEach(element=> { %>
            <option value="<%= element.id %>">
                <%= element.nama_member %>
            </option>
            <% }) %>
        </select>

        Tgl Transaksi
        <input type="date" name="tgl_transaksi" class="form-control mb-2 " value="<%= tgl_transaksi %>" required>

        <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#modalTelur">
            Tambah Pilihan Telur
        </button>

        <!-- tampilin isi cart nya -->
        <h5>
            List Cart Transaksi
        </h5>
        <hr>

        <ul class="list-group">
            <% cart.forEach(element=> { %>
                <li class="list-group-item">
                    <div class="row">

                        <!-- area nama obat -->
                        <div class="col-lg-3">
                            <small>Jenis Telur</small>
                            <h6>
                                <%= element.jenis_telur %>
                            </h6>
                        </div>

                        <!-- area jumlah beli  -->
                        <div class="col-lg-2">
                            <small>Jumlah Telur</small>
                            <h6>
                                <%= element.jumlah_telur %>
                            </h6>
                        </div>

                        <!-- are harga satuan -->
                        <div class="col-lg-3">
                            <small>Harga Telur</small>
                            <h6>
                                <%= element.harga_telur %>
                            </h6>
                        </div>

                        <!-- area harga total -->
                        <div class="col-lg-2">
                            <small>Total</small>
                            <h6>
                                <%= element.harga_telur * element.jumlah_telur %>
                            </h6>
                        </div>

                        <!-- area hapus -->
                        <div class="col-lg-1">
                            <!-- <small> hapus </small> -->
                            <a href="/cart/<%= element.id_telur %>">
                                <button type="button" class="btn btn-sm btn-danger m-2">
                                    Hapus
                                </button>
                            </a>
                        </div>

                        <!-- area nama obat -->
                        <div class="col-lg-3">
                            <small>Jenis Pack</small>
                            <h6>
                                <%= element.nama_pack %>
                            </h6>
                        </div>

                        <!-- area jumlah beli  -->
                        <div class="col-lg-2">
                            <small>Jumlah Pack</small>
                            <h6>
                                <%= element.jumlah_pack %>
                            </h6>
                        </div>

                        <!-- are harga satuan -->
                        <div class="col-lg-3">
                            <small>Harga Satuan</small>
                            <h6>
                                <%= element.harga_pack %>
                            </h6>
                        </div>

                        <!-- area harga total -->
                        <div class="col-lg-2">
                            <small>Total</small>
                            <h6>
                                <%= element.harga_pack * element.jumlah_pack %>
                            </h6>
                        </div>

                        <div class="col-lg-2">
                            <small>Total semua</small>
                            <h6>
                                <%= element.harga_telur * element.jumlah_telur + element.harga_pack * element.jumlah_pack %> 
                            </h6>
                        </div>

                    </div>

                </li>
                <% }) %>
        </ul>

        <!-- buat button simpan -->
        <% if (cart.length> 0) { %>
            <button class="btn btn-info" type="submit">
                Simpan Transaksi
            </button>
            <% } %>

    </form>
</div>


<!-- modal pop up -->
<!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade" id="modalTelur" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Pilih Telur</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/cart" method="post">
                    Pilih Telur
                    <select name="id_telur" class="form-control mb-2" required onchange="pilihTelur(this.value)">
                        <option value=""> >--Pilih Telur--< </option>
                                <% dataTelur.forEach(element=> { %>
                        <option value="<%= element.id %>">
                            <%= element.jenis_telur %>
                        </option>
                        <% }) %>
                    </select>

                    Jumlah telur
                    <input type="number" name="jumlah_telur" class="form-control mb-2" required min="1"
                        id="jumlah_telur" onchange="hitungTotal(this.value)" onkeyup="hitungTotal(this.value)">


                    Harga Satuan
                    <input id="harga_telur" type="number" name="harga_telur" class="form-control mb-2" required
                        readonly>

                    Total Telur
                    <input type="number" name="total_telur" id="total_telur" class="form-control mb-2" required
                        readonly>

                    Pilih Pack
                    <select name="id_pack" class="form-control mb-2" required onchange="pilihPack(this.value)">
                        <option value=""> >--Pilih Pack--< </option>
                                <% dataPack.forEach(element=> { %>
                        <option value="<%= element.id %>">
                            <%= element.nama_pack %>
                        </option>
                        <% }) %>
                    </select>

                    Jumlah Pack
                    <input type="number" name="jumlah_pack" class="form-control mb-2" required min="1" id="jumlah_pack"
                        onchange="hitungTotalPack(this.value)" onkeyup="hitungTotalPack(this.value)">


                    Harga Pack
                    <input id="harga_pack" type="number" name="harga_pack" class="form-control mb-2" required readonly>

                    Total pack
                    <input type="number" name="total_pack" id="total_pack" class="form-control mb-2" required readonly>

                    Total Semua

                    <div class="input-group mb-3">
                        <input type="text" name="total_semua" id="total_semua" class="form-control mb-2" required readonly>
                        <div class="input-group-append">
                          <button class="btn btn-outline-secondary" type="button" onclick="totalTotalSemua()">Button</button>
                        </div>
                      </div>

                    <button type="submit" class="btn btn-success w-100">
                        Tambahkan Transaksi
                    </button>

                </form>
            </div>
            <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
    </div> -->
        </div>
    </div>
</div>

<script>
    function pilihTelur(id) {
        // dapatin data obat yang bertipe string dan kita 
        //kembalikan kebentuk ray object kembali
        let telur = JSON.parse(`<%-dataTelurString%>`)

        // mencari data obat berdasarkan id yang dipilih
        let selectedTelur = telur.find(item => item.id == id)

        // ambil data harga
        let harga = selectedTelur.harga

        // set value dari harga beli -> harga obat yang di pilih
        document.getElementById(`harga_telur`).value = harga

        // dapetin nilai dengan jumlah beli
        let jumlah_telur = Number(document.getElementById(`jumlah_telur`).value)

        // di hitung totalnya
        let total_telur = harga * jumlah_telur

        // tempel totalnya di input
        document.getElementById(`total_telur`).value = total_telur
    }

    function pilihPack(id) {
        // dapatin data obat yang bertipe string dan kita 
        //kembalikan kebentuk ray object kembali
        let pack = JSON.parse(`<%-dataPackString%>`)

        // mencari data obat berdasarkan id yang dipilih
        let selectedPack = pack.find(item => item.id == id)

        // ambil data harga
        let harga = selectedPack.harga

        // set value dari harga beli -> harga obat yang di pilih
        document.getElementById(`harga_pack`).value = harga

        // dapetin nilai dengan jumlah beli
        let jumlah_pack = Number(document.getElementById(`jumlah_pack`).value)

        // di hitung totalnya
        let total_pack = harga * jumlah_pack

        // tempel totalnya di input
        document.getElementById(`total_pack`).value = total_pack
    }

    function hitungTotal(jumlah_telur) {
        // dapetin nilai harga beli
        let harga_telur = Number(document.getElementById(`harga_telur`).value)

        // hitung total
        let total_telur = harga_telur * jumlah_telur

        // tempelin ke input total
        document.getElementById(`total_telur`).value = total_telur
    }

    function hitungTotalPack(jumlah_pack) {
        // dapetin nilai harga beli
        let harga_pack = Number(document.getElementById(`harga_pack`).value)

        // hitung total
        let total_pack = harga_pack * jumlah_pack

        // tempelin ke input total
        document.getElementById(`total_pack`).value = total_pack
    }

    function totalTotalSemua(){
        let harga_telur =  Number(document.getElementById(`total_telur`).value)
        let harga_pack = Number(document.getElementById(`total_pack`).value)

        let total = harga_telur + harga_pack

        document.getElementById(`total_semua`).value = total
    }

</script>
</div>